{% extends 'admission_profile.html' %}

{% block class3 %}{% endblock class3 %}
{% block class4 %}{% endblock class4 %}
{% block class5 %} active {% endblock class5 %}

{% block subtitle %}Address{% endblock subtitle %}
{% block body %}
<div class="row p-2"></div>
<div class="col-12 row-gap-2">
    <div class="row">
        <div class="col-6 fw-bold">Permanent Address Line 1</div>
        <div class="col-6 overflow-auto">{{object.permanent_address1}}</div>
    </div>
    <hr>
    <div class="row">
        <div class="col-6 fw-bold">Permanent Address Line 2</div>
        <div class="col-6 overflow-auto">{{object.permanent_address2}}</div>
    </div>
    <hr>
    <div class="row">
        <div class="col-6 fw-bold">City</div>
        <div class="col-6">{{object.city}}</div>
    </div>
    <hr>
    <div class="row">
        <div class="col-6 fw-bold">State</div>
        <div class="col-6">{{object.state}}</div>
    </div>
    <hr>
    <div class="row">
        <div class="col-6 fw-bold">Country</div>
        <div class="col-6">{{object.country}}</div>
    </div>
    <hr>
    <div class="row">
        <div class="col-6 fw-bold">Pin Code</div>
        <div class="col-6">{{object.pin_code}}</div>
    </div>
    <hr>
</div>
{% endblock body %}