{% extends "_base.html" %}
{% block navbar1 %} active text-warning {% endblock navbar1 %}
{% block navbar2 %}{% endblock navbar2 %}
{% block navbar3 %}{% endblock navbar3 %}
{% block navbar4 %}{% endblock navbar4 %}
{% block navbar5 %}{% endblock navbar5 %}
{% block title %}Admission Profile{% endblock title %}
{% block content %}


<div class="container-fluid mt-5 p-3 text-center">
    <div class="row">
        <div class="col bg-light rounded p-3 m-2 bg-opacity-50 ">
            <h1 class="fw-bold text-body-secondary">Student Profile</h1>
        </div>
    </div>
    <div class="row m-2">
        <div class="col-12 col-md-4">
            <ul class="list-group">
                <a href="{% url 'profile' %}"
                    class="list-group-item list-group-item-action {% block class3 %} active {% endblock class3 %}">Admission
                    Profile</a>
                <a href="{% url 'parents' %}"
                    class="list-group-item list-group-item-action {% block class4 %}{% endblock class4 %}">Parents
                    Details</a>
                <a href="{% url 'address' %}"
                    class="list-group-item list-group-item-action {% block class5 %}{% endblock class5 %}">Address</a>
            </ul>
        </div>
        <div class="col-12 col-md-8 my-2 rounded bg-opacity-50">
            <div class="row bg-dark-subtle rounded">
                <h2>
                    {% block subtitle %}
                    Admission Profile
                    {% endblock subtitle %}
                </h2>
            </div>
            <div class="row mt-2 bg-light rounded">
                {% block body %}
                <div class="row p-2"></div>
                <div class="col-12 col-md-6 row-gap-2">
                    <div class="row">
                        <div class="col-6 fw-bold">First Name</div>
                        <div class="col-6">{{object.user.first_name}}</div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-6 fw-bold">Last Name</div>
                        <div class="col-6">{{object.user.last_name}}</div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-6 fw-bold">Enrolment Number</div>
                        <div class="col-6">{{object.enrolment_number}}</div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-6 fw-bold">Registration Number</div>
                        <div class="col-6">{{object.registration_number}}</div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-6 fw-bold">E-Mail</div>
                        <div class="col-6">{{object.email}}</div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-6 fw-bold">Year of Joining</div>
                        <div class="col-6">{{object.year_of_joining}}</div>
                    </div>
                    <hr>
                </div>
                <div class="col-12 col-md-6 row-gap-2">
                    <div class="row">
                        <div class="col-6 fw-bold">Contact Number</div>
                        <div class="col-6">{{object.phone_number}}</div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-6 fw-bold">Year of Graduation</div>
                        <div class="col-6">{{object.year_of_graduation}}</div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-6 fw-bold">Sex</div>
                        <div class="col-6">{{object.sex}}</div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-6 fw-bold">Current Year</div>
                        <div class="col-6">{{object.current_year}}</div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-6 fw-bold">Date of Birth</div>
                        <div class="col-6">{{object.date_of_birth}}</div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-6 fw-bold">Department</div>
                        <div class="col-6">{{object.department.department_name}}</div>
                    </div>
                    <hr>
                </div>
                {% endblock body %}
            </div>
        </div>
    </div>
</div>
<script>
    // Add active class to the current button (highlight it)
    var header = document.getElementById("list-group");
    var btns = header.getElementsByClassName("list-group-item-action");
    for (var i = 0; i < btns.length; i++) {
        btns[i].addEventListener("click", function () {
            var current = document.getElementsByClassName("active");
            current[0].className = current[0].className.replace(" active", "");
            this.className += " active";
        });
    }
</script>


{% endblock content %}