{% extends 'admission_profile.html' %}
{% block class3 %}{% endblock class3 %}
{% block class4 %} active {% endblock class4 %}
{% block class5 %}{% endblock class5 %}
{% block subtitle %}Parents Details{% endblock subtitle %}

{% block body %}
<div class="row p-2"></div>
<div class="col-12 col-md-6 row-gap-2">
    <div class="row">
        <div class="col-6 fw-bold">Father Name</div>
        <div class="col-6">{{object.father_name}}</div>
    </div>
    <hr>
    <div class="row">
        <div class="col-6 fw-bold">Father E-Mail</div>
        <div class="col-6">{{object.father_email}}</div>
    </div>
    <hr>
    <div class="row">
        <div class="col-6 fw-bold">Father Contact Number</div>
        <div class="col-6">{{object.father_contact_no}}</div>
    </div>
    <hr>
    <div class="row">
        <div class="col-6 fw-bold">Father Occupation</div>
        <div class="col-6">{{object.father_occupation}}</div>
    </div>
    <hr>
</div>
<div class="col-12 col-md-6 row-gap-2">
    <div class="row">
        <div class="col-6 fw-bold">Mother Name</div>
        <div class="col-6">{{object.mother_name}}</div>
    </div>
    <hr>
    <div class="row">
        <div class="col-6 fw-bold">Mother E-Mail</div>
        <div class="col-6">{{object.mother_email}}</div>
    </div>
    <hr>
    <div class="row">
        <div class="col-6 fw-bold">Mother Contact Number</div>
        <div class="col-6">{{object.mother_contact_no}}</div>
    </div>
    <hr>
    <div class="row">
        <div class="col-6 fw-bold">Mother Occupation</div>
        <div class="col-6">{{object.mother_occupation}}</div>
    </div>
    <hr>
</div>
{% endblock body %}