{% extends "_base.html" %}
{% block navbar1 %}{% endblock navbar1 %}
{% block navbar2 %}{% endblock navbar2 %}
{% block navbar3 %}{% endblock navbar3 %}
{% block navbar4 %}{% endblock navbar4 %}
{% block navbar5 %} active text-warning {% endblock navbar5 %}

{% block title %} Application Status {% endblock title %}
{% block content %}
<div class="container-fluid mt-5 p-3 text-center">
    <div class="row col-12 ">
        <div class="col bg-light rounded p-3 m-2 bg-opacity-50 ">
            <h1 class="fw-bold text-body-secondary">Application Status</h1>
        </div>
    </div>
    <div class="row bg-transparent col-12 col-sm-6 mx-auto">
        <div
            class="row bg-secondary-subtle border border-black border-top-0 border-start-0 border-end-0 border-2 p-1 rounded-top">
            <div class="col-3"><strong>Application ID</strong></div>
            <div class="col-3"><strong>Name</strong></div>
            <div class="col-3"><strong>Date</strong></div>
            <div class="col-3"><strong>Status</strong></div>
        </div>

        {% for app in applications %}
        <div class="row bg-white border border-top-0 border-start-0 border-end-0 p-1">
            <div class="col-3">{{ app.id }}</div>
            <div class="col-3">{{ app.name }}</div>
            <div class="col-3">{{ app.date }}</div>
            <div class="col-3">{% if app.status == 'R'%}Registered{% elif app.status == 'C'%}Completed{% else %}Pending
                {% endif %}</div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}