body,
html {
    height: 100%;
    margin: 0;

}

.bg-image {
    /* The image used */
    background-image: url("");

    /* Add the blur effect */
    /*filter: blur(5px);
    -webkit-filter: blur(5px);*/

    /* Full height */


    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;

}

.navbar-nav>li {
    padding-left: 10px;
    padding-right: 10px;
}